---
import Layout from "../layouts/Layout.astro";
import Lightbox from "@components/Pandabox.astro";
---

<Layout title="Welcome to Astro.">
  <main class="surface">
    <h1>Lightbox with Slide transition</h1>
    <hr />
    <h2>Sample Gallery With James Webb Space Telescope Images</h2>
    <p>Using transitionType="slide".</p>
    <Lightbox galleryid="jwst" transitionType="slide" />
  </main>
</Layout>
