---
import { Icon } from "astro-icon/components";

const year = new Date().getUTCFullYear();
---

<footer>
  <section class="surface">
    <p>
      &copy; &nbsp;{year} |
      <a href="https://github.com/SaintSin/astro-pandabox" target="_blank">
        <Icon name="carbon:logo-github" /> astro-pandabox
      </a>
    </p>
  </section>
</footer>
