---
const year = new Date().getUTCFullYear();
---

<footer>
  <section class="surface">
    <p>
      &copy; &nbsp;{year}
    </p>
    <p>
      <a href="https://astro.build"
        ><img
          src="https://astro.badg.es/v2/built-with-astro/medium.svg"
          alt="Built with Astro"
          width="240"
          height="40"
        /></a
      >
    </p>
  </section>
</footer>
